$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corTextoBotao: #976945;
$corDeFundoMenu: #0d0e14;
$corDeFundoBotaoPrimario:  #7b73b9;
$corDeFundoBotaoSecundario: #46305e ;
$corDeFundoBotaoDark: #000;